<html>
    <head>
        <title>HOLA</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>LIBRERIA</li>
                    
                </ul>
                <ul>
                    <li><a href="{ % url 'home' %}" role="button">Home</a></li>
                    <li><a href="{ % url 'new' % }" role="button">Libro Nuevo</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>


    </body>
</html>